.title {
  padding: var(--padding-size);
  background-color: var(--color-main);

  background-image: url(./../images/bg-images/bg-title-mb.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  color: #ffffff;
}

.title,
.wrapper__title_main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.wrapper__title_main .btn {
  align-self: center;
  margin-top: auto;
}
.title__header {
  margin-top: calc(var(--padding-size) * 2);
}

.title__article p {
  margin-top: var(--padding-size);
  font-weight: 700;
}
.title__article p + p {
  margin-top: 0;
}
.title__heading {
  margin-top: calc(var(--padding-size) * 3);
  line-height: 1.23em;
}

/* ==================================== */

.section__main__article {
  margin-bottom: 2.81em;
}
main {
  text-align: center;
  margin: 3.37em 0.62em 4.81em;
}
h2 {
  font-size: 1.37rem;
  font-weight: 700;
  color: var(--color-main);
}
.gift_img {
  margin: 15px 0 25px;
}
h3.city-heading{
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1.56em;
}
.city-img{
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.25em;
}
.city-names {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.city-names > span {
  background: #eed7d8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4.37em;
  padding: 10px;
  margin: 5px;
  font-size: 0.75em;
}
.list__countries__item{
  padding-bottom: 4.5em;
}
.dt-country{
  display: none;
}

/* ==================================== */

.description-heading{
  font-weight: 700;
  font-size: 1.37rem;
  line-height: 1.2;
}
.description-heading>span{
  color: var(--color-main);
}
.fw700{
  font-weight: 700;
}

.block-description{
  margin: 0 10px 80px;
}
.flex-container>p, .block-description>a{
  margin-top: 44px;
}

/* ==================================== */

.make__gift{
  padding: 20rem 0 3.75rem;
  height: 100%;
  background-color:var(--color-main);
  background-image: url(./../images/bg-images/bg-make-gift-mb.png);
  background-repeat:no-repeat;
}
.gift-article{
  margin: 0  0.73em 3.18em 0.62em ;
  color:white;
}
.gift-article>h4{
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 10px;
}
.gift-article>p{
  font-weight: 500;
  line-height: 1.75;
}
.purchase__section{
  background-color:white;
  margin: 10px;
  min-height: 311px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.purchase__section__main{
  text-align: center;
  margin: auto;
  max-width: 240px;
}
h5{
  font-size: 40px;
  font-weight: 900;
  padding: 49px 0 29px;
}
.purchase__section__main>p{
  color:#221112;
  padding-bottom: calc(var(--padding-size) * 3);
  line-height: 1.75;
}

/* ==================================== */

.how-it-works{
padding: calc(var(--padding-size) * 6) 10px calc(var(--padding-size) * 9)  ;
}
.how-it-works__wrapper{
  text-align: center;
}
.how-it-works__wrapper>h3{
  font-size: 1.37rem;
  margin-bottom: 9px;
}
.step__wrapper {
  border: 4px dashed #eed7d8;
  border-radius: 30px;
  padding: calc(var(--padding-size) * 3) calc(var(--padding-size) * 2) calc(var(--padding-size) * 5);
  margin-top:2.5em;
}
h6{
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75;
}
.mt-60{
  margin-top: 3.37em;
}

/* ==================================== */

.certificate{
  background-color:var(--color-main);
  padding: calc(var(--padding-size) * 7) var(--padding-size) calc(var(--padding-size) * 4);
}
.picture-wrapper{
text-align: center;
}

h4.heading-certificate{
  font-size: 1.37rem;
  line-height: 1.22;
  color: white;
  font-weight: 700;
  margin-top:calc(var(--padding-size) * 3.7) ;
  margin-bottom: 9px;
}
.certificate-p{
  color: white;
  margin-bottom: 4.75em;
}

form{
  display: flex;
  flex-direction: column;
  
}
form>input{
  padding: 18px 20px;
  border-radius:70px;
  border:0;
  margin-bottom:calc(var(--padding-size) * 3) ;
  color: #221112;
  font-family: 'Montserrat', sans-serif;
}
.submit-button{
  font-weight: 900;
  color:white;
  background-color:var(--color-main);
  border: 4px solid white;
  padding: 14px;
  border-radius:35px;
  text-align: center;
}



@media (min-width: 992px) {
  .title {
    min-height: 600px;
    background-image: url(./../images/bg-images/bg-title-dt.png);
    background-size: cover;
    width: 100%;
  }
  div.wrapper__title_main {
    max-width: 1170px;
    margin: 0 auto;
  }
  .title__article {
    width: 70%;
  }
  .title__article p {
    font-size: 1.37rem;
    font-weight: 600;
  }
  .title__heading {
    font-size: 3.25rem;
    line-height: 1.21;
  }
  p.line-height-2 {
    line-height: 3;
  }
  .btn {
    font-size: 1.1rem;
    max-width: 270px;
    width: 100%;
    padding: 1.5rem 2rem;
    line-height: 1.63;
  }
  .wrapper__title_main .btn {
    align-self: flex-start;
    margin-top: 5%;
  }

  /* ==================== */

  .section-main {
    background-image: url(./../images/bg-images/main-bg-dt.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  main {
    margin: 0 auto;
    padding-top: 6%;
    width: 100%;
    max-width: 900px;
  }
  h2 {
    font-size: 3.8rem;
  }
  .section__main__article p {
    font-size: 1.37rem;
  }
  h3.city-heading{
    font-size: 2.62rem;
    margin-bottom: 3.12rem;
  }
  .dt-img{
    width: 75%;
  }

  .city-names > span {
  padding: 16px 20px;
  margin: 10px;
  font-size: 1.37rem;
}
.dt-country{
display: block;
}
.list__countries__item{
  padding-bottom: 8.25rem;
}

 /* ==================== */


.description-heading{
  font-weight: 700;
  font-size: 2.62rem;
  line-height: 1.2;
  max-width: 50%;
}
.description-heading>span{
  color: var(--color-main);
}
.fw700{
  font-weight: 700;
}

.block-description{
  width: 61%;
  margin: 8rem auto;
}

.flex-container{
  display: flex;
}
.flex-container > p {
 font-size: 1.25rem;
 max-width: 270px;
 margin-right: 15px;
}
.block-description>a{
  margin-top: 5.75rem;
  width: 33%;
}

/* ==================== */

.make__gift{
  background-image: url(./../images/bg-images/bg-make-gift-dt.png);
  background-size: cover;
  padding: 0;
}
.make__gift__wrapper__main{
max-width: 60%;
margin: auto;
}
.make__gift__wrapper{
  max-width: 51%;
  margin-left:auto;
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

.gift-article{
  margin-bottom: calc(var(--padding-size) * 3);
}

.gift-article>h4{
  font-size: 3.25rem;
}

.gift-article>p{
  font-size: 1.25rem;
}

h5{
  font-size: 4.25rem;
  font-weight: 900;
  padding: 49px 0 29px;
}
.purchase__section__main{
  max-width: 341px;
  width: 100%;
  padding-bottom: 4rem;
}
.purchase__section__main>p{
  font-size: 1rem;
}

/* ==================== */

.main-wrapper-how-it-works{
max-width: 60%;
margin: auto;
}

.step__wrapper__main{
  display: flex;
}

.how-it-works__wrapper>h3{
  font-size: 3.25rem;
  line-height: 1.2;
}

.how-it-works__wrapper>p{
  font-size: 1.25rem;
}

h6{
  font-size: 1.87rem;
}

.flex-steps>p{
  font-size: 1.25rem;
  opacity: 0.8;
}

.how-it-works>.btn-red{
width: 33%;
margin-right: auto;
margin-left: auto;
}

/* ==================== */
.certificate-wrapper{
  background-color:var(--color-main)
}

.certificate{
  max-width: 60%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

.flex-dt-certificate{
  display: flex;
  flex-direction: row-reverse;
}

h4.heading-certificate{
font-size: 3.25rem;
}

.certificate-p{
  margin-top: calc(var(--padding-size) * 2);
font-size:1.25rem;
line-height: 1.75;
}
form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
form>input, .submit-button{
  margin-bottom: 0;
  padding: 20px;
  margin-left: 10px;

}

.submit-button{
  font-size: 1.37rem;
}


}